@tailwind base;
@tailwind components;
@tailwind utilities;
/* input[type="radio"]:after {
  width: 15px;
  height: 15px;
  
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #4F7942;
  content: "";
 
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-color:#4F7942;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #90EE90;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
} */

label::after {
  content: attr(data-end);
  color: rgb(3, 184, 184);
}
